<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>
<body>
    <div class="container mt-4">
        <div class="text-center">
            <i class="fas fa-check-circle icon-check"></i>
        </div>
        <h2 class="text-center">Thank You For Your Order!</h2>
        <p class="text-center" th:text="${message}"></p>
        <div class="text-center">
            <a class="btn btn-outline-dark" href="/products">Continue Shopping</a>
        </div>
    </div>
</body>
</html>